 div.myautoscroll {
            height: 80ex;
            width: 80em;
            overflow: hidden;
            border: 0px solid #444;
            margin: 3em;
        }
        div.myautoscroll:hover {
            overflow: auto;
        }
        div.myautoscroll p {
            padding-right: 16px;
        }
        div.myautoscroll:hover p {
            padding-right: 0px;
        }